service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
    }

    match /messages/{id} {
      allow read;
    }

    match /certifications/{id} {
      allow read;
    }
  }
}
